* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    min-width: fit-content;
    width: 100%;
    align-self: center;
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: orange;
    border: 1px solid orangered;
}

.btn-primary:hover {
    background-color: #C28008;
    border-color: #C28008;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

.already-joined-msg {
    margin: 15px 0;
    color: #004085;
    background-color: #CCE5FF;
    border: 1px solid #B8DAFF;
    padding: 10px;
    width: 275px;
}

/* Navbar */

#navbar img {
    height: 40px;
}

#navbar {
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px 0;
}

#navbar a {
    font-size: 14px;
    color: #757575;
}

#navbar a:hover {
    font-size: 14px;
    color: orangered;
}

.list-navegation {
    align-items: center;
}

/* Search */
#search-container {
    width: 100%;
    /* height: 300px; */
    text-align: center;
}

#search-container h1 {
    color: #F2A340;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-form {
    display: flex;
}

#search-container form {
    margin: 0 0 0 20px;
}

#search-container form input {
    border-radius: 5px 0 0 5px;
    border: 1px solid #cccccc89;
}

#search-container form input[type="text"]:focus {
    box-shadow: 0 0 0 1px rgba(59, 130, 246, 0.5);
}

#search-container form button {
    border-radius: 0 5px 5px 0;
    border: none;
}

.area-logo-search {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* List */
#cursos-container {
    padding: 50px;
}

#cursos-container h2 {
    margin-bottom: 10px;
}

#cursos-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
    gap: 50px
}

#cursos-container .card {
    flex: 1 1 24%;
    max-width: 15%;
    border-radius: 10px;
    padding: 5px;
}

#cursos-container img {
    max-height: 150px;
    border-radius: 8px 8px 0 0;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Create Page Cursos */
/* #curso-create-container {
    padding: 30px;
}

#curso-create-container-label {
    font-weight: bold;
}

#curso-create-container input,
#curso-create-container select,
#curso-create-container textarea {
    font-size: 12px;
} */

#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3,
#description-container h3 {
    font-size: 12px;
    font-weight: bold;
}

#info-container #event-submit {
    margin: 20px 0;
}

#items-list {
    list-style: none;
    padding: 0;
}

#items-list li {
    display: flex;
}

/* Dashboard */
.dashboard-title-container {
    margin: 30px 0 30px 0;
}

.dashboard-cursos-containr th {
    width: 25%;
}

.dashboard-cursos-container form {
    display: inline-block;
}

.img-preview {
    width: 100px;
    margin-top: 20px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #353E48;
    color: #FFF;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}