* {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    color: #2722ca;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
    animation: autoDismiss 3s forwards;
}

@keyframes autoDismiss {
    0%, 80% {
        opacity: 1;
        max-height: 100px;
        padding: 15px;
        margin: 10px 0;
    }
    100% {
        opacity: 0;
        max-height: 0;
        padding: 0;
        margin: 0;
        visibility: hidden;
    }
}

.btn {
    bottom: 0;
}

.btn-primary {
    background-color: #2d3748;
    border: none;
}

.btn-primary:hover {
    background-color: #072963;
    border: none;

}

.already-joined-msg {
    margin: 15px 0;
    color: #004085;
    background-color: #CCE5FF;
    border: 1px solid #B8DAFF;
    padding: 10px;
    width: 275px;
}

body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F8;
}

header {
    min-width: fit-content;
    width: 100%;
    align-self: center;
    background-image: linear-gradient(90deg, #5A4DB9, #7E6EE0);
    border-bottom: 1px solid #CCC;
    padding: 5px 115px;
}

.row {
    width: 100%;
    margin: 0;
    left: 0;
}

.container-fluid {
    padding: 0;
}

#navbar img {
    height: 40px;
}

#navbar {
    justify-content: space-between;
    background-color: transparent;
    padding: 5px 0;
}

#navbar a {
    font-size: 14px;
    color: #FFF;
}

#navbar a:hover {
    font-size: 14px;
    color: #2D3748;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 1px rgba(80, 93, 114, 0.5);
}

.list-navegation {
    align-items: center;
}

/* Search */
#search-container {
    width: 100%;
    /* height: 300px; */
    text-align: center;
}

#search-container h1 {
    color: #F2A340;
    margin-bottom: 30px;
    font-weight: 900;
}

.form-search {
    display: flex;
    align-items: center;
}

.input-search {
    border-radius: 5px 0 0 5px;
}

.button-search {
    border-radius: 0 5px 5px 0;
}

#search-container form {
    margin: 0 0 0 20px;
}


#search-container form input {
    border-radius: 5px 0 0 5px;
    border: 1px solid #cccccc89;
}

#search-container form input[type="text"]:focus {
    box-shadow: 0 0 0 1px rgba(59, 130, 246, 0.5);
}

#search-container form button {
    border-radius: 0 5px 5px 0;
    border: none;
}

#search-form {
    display: flex;
}

.area-logo-search {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* List */
#cursos-container {
    padding: 50px;
}

#cursos-container h2 {
    margin-bottom: 10px;
}

#cursos-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

#cursos-container .card {
    flex: 1 1 24%;
    max-width: 250px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#cards-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 20px;
}


#cards-container a {
    background-image: linear-gradient(90deg, #5A4DB9, #7E6EE0);
}

#cursos-container img {
    max-height: 200px;
    border-radius: 8px 8px 0 0;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

#image-container,
#info-container {
    margin-top: 30px;
}

#info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
}

#info-container p {
    margin: 0;
    font-size: 18px;
    display: flex;
}

#info-container h3 {
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
}

#info-container #event-submit {
    margin: 20px 0;
}

#description {
    height: 200px;
}

#description-container {
    max-height: none;
    margin-bottom: 20px;
}

#description-container > h3 {
    font-size: 18px;
    margin-top: 20px;
}

#description-container > p{
    font-size: 16px;
    line-height: 2;
}

#items-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
}

#items-list li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.curso-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

#join-course-form a {
    width: 100%
}

/* Dashboard */
.dashboard-title-container {
    margin: 30px 0 30px 0;
}

.dashboard-cursos-containr th {
    width: 25%;
}

.dashboard-cursos-container form {
    display: inline-block;
}

.img-preview {
    width: 100px;
    margin-top: 20px;
}

#form-delete {
    width: fit-content;
    background-color: #ff4832;
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    align-self: center;
    border: none;
}

.delete-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: rgb(32, 32, 32);
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.edit-btn {
    background-color: #2d3748;
    color: #fff;
    border: none;
}

/* Footer */
footer {
    text-align: center;
    background-color: #353E48;
    color: #FFF;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

footer a {
    color: #FFF;
    text-decoration: none;
}

@media (max-width: 1300px) {
    #items-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    #cursos-container {
        padding: 20px;
    }
    #cursos-container .card {
        flex: 1 1 30%;
        /* max-width: none; */
    }
    .cards-container {
        justify-content: center;
        gap: 20px;
    }
    #image-container {
        width: fit-content;
    }
    #info-container {
        width: auto;
        align-self: center;
    }
}
@media (max-width: 768px) {
    .container {
        padding: 0;
    }
    header {
        padding: 0 10px;
    }
    #cards-container {
        justify-content: center;
    }

    #cursos-container .card {
        flex: 1 1 500%;
        /* max-width: none; */
    }
    #navegation-mobile{
        flex-direction: column;
        align-items: center;
    }
}