* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    padding-bottom: 10px;
    position: relative;
}

header {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: orange;
    border: 1px solid orangered;
}

/* Navbar */

#navbar img {
    width: 40px;
}

#navbar {
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px 0;
}

#navbar a {
    font-size: 14px;
    color: #757575;
}

#navbar a:hover {
    font-size: 14px;
    color: orangered;
}

/* Search */
#search-container {
    width: 600px;
    /* height: 300px; */
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #F2A340;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

/* List */
#cursos-container {
    padding: 50px;
}

#cursos-container h2 {
    margin-bottom: 10px;
}

#cursos-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
}

#cursos-container .card {
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}

#curso-container img {
    max-height: 150px;
    border-radius: 10px 10px 0 0;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #353E48;
    color: #FFF;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}